$page-width: 800px;
$page-indent-desktop: 40px;
$page-indent-mobile: 13px;
$payments-indent-desktop: 32px;
$payments-indent-mobile: 24px;
$mobile: 640px;
$main-color: #2a2f34;
$login-form-color: #6d7a87;
$accent-color: #f7ca18;
$form-elements-height: 48px;
$main-transition: .3s linear;
$input-indent: 12px;
$show-pass-width: 40px;
$helper-line-height: 12px;
